/* line 1, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 7, style.scss */
:root {
  --color-text: #533738;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserratlight.woff2") format("woff2"), url("../fonts/montserratlight.woff") format("woff"), url("../fonts/montserratlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff"), url("../fonts/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserratbold.woff2") format("woff2"), url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* line 41, style.scss */
body {
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  overflow-x: hidden;
}

/* line 49, style.scss */
p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}
@media screen and (max-width: 425px) {
  /* line 49, style.scss */
  p {
    line-height: normal;
    font-size: 16px;
  }
}

/* line 60, style.scss */
span {
  font-weight: 300;
}

/* line 64, style.scss */
.section {
  background-color: var(--color-bg, #efe6e4);
  padding-top: 65px;
  color: var(--color-text);
}
@media screen and (max-width: 425px) {
  /* line 64, style.scss */
  .section {
    padding-top: 30px;
  }
}
/* line 73, style.scss */
.section__title {
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: var(--color-);
}
@media screen and (max-width: 425px) {
  /* line 73, style.scss */
  .section__title {
    font-size: 30px;
  }
}
/* line 86, style.scss */
.section__title_left {
  text-align: left;
}

/* line 92, style.scss */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  /* line 92, style.scss */
  .container {
    padding: 0 20px;
  }
}

/* line 102, style.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
/* line 110, style.scss */
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0;
}
/* line 116, style.scss */
.header__logo {
  text-transform: uppercase;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 122, style.scss */
.header__logo a {
  text-decoration: none;
  color: inherit;
}

/* line 129, style.scss */
.menu {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  padding: 24px 0;
  z-index: 3;
}
/* line 137, style.scss */
.menu > span {
  display: none;
}
/* line 141, style.scss */
.menu__icon {
  position: relative;
  width: 50px;
  height: 2px;
  background-color: var(--color-text);
}
/* line 148, style.scss */
.menu__icon::before, .menu__icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 2px;
  visibility: visible;
  background-color: var(--color-text);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 161, style.scss */
.menu__icon::before {
  top: -15px;
}
/* line 165, style.scss */
.menu__icon::after {
  bottom: -15px;
}
/* line 171, style.scss */
.menu.active > .menu__icon {
  visibility: hidden;
}
/* line 174, style.scss */
.menu.active > .menu__icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 45px;
}
@media screen and (max-width: 425px) {
  /* line 174, style.scss */
  .menu.active > .menu__icon::before {
    background-color: #efe6e4;
  }
}
/* line 183, style.scss */
.menu.active > .menu__icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 45px;
}
@media screen and (max-width: 425px) {
  /* line 183, style.scss */
  .menu.active > .menu__icon::after {
    background-color: #efe6e4;
  }
}
/* line 192, style.scss */
.menu.active + .nav__container {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
@media screen and (max-width: 768px) {
  /* line 129, style.scss */
  .menu {
    display: block;
  }
}

/* line 202, style.scss */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
/* line 206, style.scss */
.nav__container {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  /* line 206, style.scss */
  .nav__container {
    position: absolute;
    top: 50px;
    right: 0;
    display: block;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  /* line 206, style.scss */
  .nav__container {
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #8d7370;
  }
}
/* line 233, style.scss */
.nav__link {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
/* line 238, style.scss */
.nav__link a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-text);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  --color-link: #cc8b86;
}
/* line 245, style.scss */
.nav__link a::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-link, #533738);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 256, style.scss */
.nav__link a:hover {
  color: #cc8b86;
}
/* line 259, style.scss */
.nav__link a:hover::after {
  width: 100%;
}
@media screen and (max-width: 425px) {
  /* line 238, style.scss */
  .nav__link a {
    font-size: 20px;
  }
}
/* line 269, style.scss */
.nav__link + .nav__link {
  margin-left: 22.5px;
}
/* line 273, style.scss */
.nav__link:last-child {
  margin-left: 42px;
}
@media screen and (max-width: 768px) {
  /* line 233, style.scss */
  .nav__link {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  /* line 281, style.scss */
  .nav__link + .nav__link {
    margin-left: 0;
  }
}
@media screen and (max-width: 425px) {
  /* line 233, style.scss */
  .nav__link {
    top: 20%;
    text-align: center;
    --color-text: #efe6e4;
  }
}

/* line 294, style.scss */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../img/main-bg.png") no-repeat;
  background-size: cover;
}
/* line 300, style.scss */
.intro__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  padding-left: 84px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 300, style.scss */
  .intro__inner {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  /* line 300, style.scss */
  .intro__inner {
    width: 100%;
    padding-left: 10%;
  }
}
/* line 320, style.scss */
.intro__title {
  width: 100%;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 24px 0;
  -webkit-transform: scaleX(1.2) translateX(8%);
          transform: scaleX(1.2) translateX(8%);
}
@media screen and (max-width: 768px) {
  /* line 320, style.scss */
  .intro__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 425px) {
  /* line 320, style.scss */
  .intro__title {
    -webkit-transform: scaleX(1) translateX(0);
            transform: scaleX(1) translateX(0);
  }
}
/* line 339, style.scss */
.intro__text {
  width: 80%;
  margin-top: 10px;
}
/* line 344, style.scss */
.intro__btn, form[name="callback"] button {
  position: relative;
  width: 310px;
  height: 75px;
  margin-top: 20px;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(83, 55, 56, 0.7);
  -webkit-transition: color 0.1s linear, -webkit-transform 0.1s linear;
  transition: color 0.1s linear, -webkit-transform 0.1s linear;
  transition: transform 0.1s linear, color 0.1s linear;
  transition: transform 0.1s linear, color 0.1s linear, -webkit-transform 0.1s linear;
}
/* line 355, style.scss */
.intro__btn:active, form[name="callback"] button:active {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}
/* line 359, style.scss */
.intro__btn::before, form[name="callback"] button::before, .intro__btn::after, form[name="callback"] button::after {
  content: "";
  position: absolute;
  width: 51%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #cc8b86;
  z-index: 0;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
/* line 372, style.scss */
.intro__btn::after, form[name="callback"] button::after {
  left: 0;
}
/* line 376, style.scss */
.intro__btn:hover, form[name="callback"] button:hover {
  background-color: rgba(83, 55, 56, 0.7);
  color: #efe6e4;
}
/* line 380, style.scss */
.intro__btn:hover::before, form[name="callback"] button:hover::before, .intro__btn:hover::after, form[name="callback"] button:hover::after {
  width: 0;
}
/* line 386, style.scss */
.intro__btn > span, form[name="callback"] button > span {
  position: relative;
  display: block;
  width: 160px;
  height: 30px;
  margin: 25px auto;
  font-size: 20px;
  z-index: 2;
}
@media screen and (max-width: 425px) {
  /* line 344, style.scss */
  .intro__btn, form[name="callback"] button {
    width: 80%;
  }
}
/* line 401, style.scss */
.intro a {
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/* line 411, style.scss */
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 21px;
  width: 100%;
  max-width: 996px;
}
/* line 421, style.scss */
.about__item {
  width: calc(50% - 10px);
  min-width: 300px;
}
/* line 426, style.scss */
.about__image {
  display: block;
  width: 100%;
  max-width: 445px;
}
/* line 432, style.scss */
.about__text {
  margin-bottom: 35px;
}

/* line 437, style.scss */
.regals {
  background-color: #8d7370;
  width: 100%;
}
/* line 441, style.scss */
.regals__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 447, style.scss */
.regals__item {
  min-width: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: #ffffff;
  padding: 80px 0;
}
@media screen and (max-width: 425px) {
  /* line 447, style.scss */
  .regals__item {
    padding: 30px 0;
  }
}
/* line 458, style.scss */
.regals__item span {
  margin-bottom: 8px;
  display: block;
  font-size: 50px;
  line-height: 62px;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  /* line 458, style.scss */
  .regals__item span {
    font-size: 40px;
  }
}
/* line 471, style.scss */
.regals__item p {
  padding: 6px 0 7px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  /* line 471, style.scss */
  .regals__item p {
    font-size: 20px;
  }
}

/* line 486, style.scss */
.works__more {
  padding: 40px 0 65px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
/* line 492, style.scss */
.works__more a {
  text-decoration: none;
  color: inherit;
}
/* line 496, style.scss */
.works__more a:hover img {
  -webkit-transform: translateX(10%) scale(1.1);
          transform: translateX(10%) scale(1.1);
}

/* line 503, style.scss */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 30px 20px;
}
/* line 509, style.scss */
.gallery__title {
  display: none;
}
/* line 513, style.scss */
.gallery__item {
  position: relative;
  width: auto;
  min-width: 450px;
  height: 450px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media screen and (max-width: 768px) {
  /* line 513, style.scss */
  .gallery__item {
    width: 100%;
    min-width: 100%;
  }
}
/* line 526, style.scss */
.gallery__item img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/* line 536, style.scss */
.gallery__description {
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  background-color: #644845;
  color: #ffffff;
  z-index: 2;
}
/* line 553, style.scss */
.gallery__description:hover {
  opacity: 0.8;
}
/* line 558, style.scss */
.gallery__name {
  width: 60%;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 400;
}
/* line 565, style.scss */
.gallery__text {
  padding: 5px;
  text-align: left;
  font-weight: 300;
  -webkit-transform: scale(1.05) translateX(2%);
          transform: scale(1.05) translateX(2%);
}

/* line 573, style.scss */
.team {
  --color-bg: #e2c4ba;
  padding-top: 50px;
}
/* line 577, style.scss */
.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}

/* line 585, style.scss */
.card {
  width: 80%;
  max-width: 320px;
}
/* line 589, style.scss */
.card__title {
  display: none;
}
/* line 593, style.scss */
.card__image {
  width: 100%;
  display: block;
}
/* line 598, style.scss */
.card__description {
  margin-top: 10px;
  padding-bottom: 10px;
}

/* line 605, style.scss */
.make {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px;
}
/* line 611, style.scss */
.make__title {
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin: 30px auto;
}
@media screen and (max-width: 425px) {
  /* line 611, style.scss */
  .make__title {
    font-size: 30px;
  }
}
/* line 624, style.scss */
.make__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 630, style.scss */
.make__step {
  width: 90%;
  max-width: 300px;
  margin-top: 10px;
  text-align: center;
}
/* line 636, style.scss */
.make__step span {
  display: block;
  width: 70px;
  height: 70px;
  padding-top: 15px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #8d7370;
  color: #ffffff;
  font-size: 30px;
}
/* line 648, style.scss */
.make__step p {
  padding: 20px 10px 10px;
}

/* line 655, style.scss */
.reviews__inner {
  width: 100%;
  max-width: 1036px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 65px;
}
/* line 663, style.scss */
.reviews__item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  /* line 663, style.scss */
  .reviews__item {
    margin: 0 auto;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/* line 679, style.scss */
.reviews__text p {
  margin-bottom: 40px;
}
@media screen and (max-width: 425px) {
  /* line 679, style.scss */
  .reviews__text p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  /* line 678, style.scss */
  .reviews__text {
    width: 100%;
  }
}
/* line 692, style.scss */
.reviews__author {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 697, style.scss */
.reviews__image {
  min-width: calc(50% - 10px);
}
/* line 700, style.scss */
.reviews__image img {
  display: block;
  width: 100%;
}
/* line 705, style.scss */
.reviews__image img + img {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  /* line 697, style.scss */
  .reviews__image {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  /* line 697, style.scss */
  .reviews__image {
    display: none;
  }
}

/* line 719, style.scss */
.prev,
.next {
  position: relative;
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #cc8b86;
  margin: auto 0;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  /* line 719, style.scss */
  .prev,
  .next {
    width: 10vw;
    height: 10vw;
  }
}
/* line 739, style.scss */
.prev span,
.next span {
  position: absolute;
  opacity: 0;
  top: calc(-70% - 5px);
  left: -30%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.1s linear, -webkit-transform 0.3s ease-out;
  transition: opacity 0.1s linear, -webkit-transform 0.3s ease-out;
  transition: opacity 0.1s linear, transform 0.3s ease-out;
  transition: opacity 0.1s linear, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
/* line 750, style.scss */
.prev span::after,
.next span::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 42%;
  border: 10px solid;
  border-color: #ffffff transparent;
  border-bottom-width: 0;
}
@media screen and (max-width: 768px) {
  /* line 739, style.scss */
  .prev span,
  .next span {
    display: none;
  }
}
/* line 765, style.scss */
.prev:hover,
.next:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 3px 5px 10px #533738;
          box-shadow: 3px 5px 10px #533738;
}
/* line 769, style.scss */
.prev:hover span,
.next:hover span {
  opacity: 0.85;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* line 776, style.scss */
.prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* line 780, style.scss */
.slider {
  margin: 0 auto;
  padding: 0 30px;
}

/* line 785, style.scss */
.callback {
  --color-bg: #8d7370;
  --color-text: #ffffff;
  padding-top: 0;
}
/* line 790, style.scss */
.callback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  /* line 790, style.scss */
  .callback__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/* line 801, style.scss */
.callback__form {
  padding: 50px 20px 20px 82px;
  width: 100%;
  max-width: 610px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media screen and (max-width: 1023px) {
  /* line 801, style.scss */
  .callback__form {
    padding: 50px 20px 20px 20px;
  }
}
/* line 812, style.scss */
.callback__description {
  margin-top: -20px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  opacity: 0.6;
}
/* line 820, style.scss */
.callback__map {
  width: 100%;
  max-width: 590px;
}
/* line 827, style.scss */
.callback__map img {
  width: 100%;
  display: block;
}

/* line 834, style.scss */
form[name="callback"] {
  padding-top: 30px;
}
/* line 837, style.scss */
form[name="callback"] fieldset {
  position: relative;
  width: 100%;
  padding: 12px 0;
  border: none;
  color: #f6ede9;
}
/* line 845, style.scss */
form[name="callback"] input {
  width: 100%;
  height: 45px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: inherit;
}
/* line 856, style.scss */
form[name="callback"] input:focus {
  outline: none;
  border-bottom-color: #cc8b86;
}
/* line 859, style.scss */
form[name="callback"] input:focus + label {
  -webkit-transform: translate(-8%, -28px) scale(0.85);
          transform: translate(-8%, -28px) scale(0.85);
}
/* line 865, style.scss */
form[name="callback"] label {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
/* line 877, style.scss */
form[name="callback"] button {
  font-size: 20px;
  cursor: pointer;
}
/* line 882, style.scss */
form[name="callback"] button span {
  position: relative;
  z-index: 1;
}

/* line 890, style.scss */
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 35px 0;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width: 425px) {
  /* line 890, style.scss */
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/* line 903, style.scss */
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 40px;
}
/* line 908, style.scss */
.footer__contacts span {
  font-weight: 300;
}
/* line 912, style.scss */
.footer__company {
  min-width: 150px;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */